@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body{
    background-image: url('https://images4.alphacoders.com/117/thumb-1920-1170448.jpg');
    background-size:cover;
    font-family:Poppins;
    color: white;
    text-shadow: 8px 8px 20px black;
}
h1,#description{
    text-align: center;
    margin: 0;
}
h1{
    margin-top: 80px;
}
#survey-form{
border-radius: 10px;
margin:auto;
padding-top: 30px;
border: 2px solid rgb(120, 175, 219);
margin-top: 50px;
width: 580px;
background:linear-gradient(225deg,rgb(189, 109, 146), rgb(73, 171, 216));
opacity: 0.8;
}
label{
    display: flex;
    align-items: center;
    font-size: 1.35em ;
    margin-bottom:0.5em;
    margin-left:3%
}
#dropdown_label,#recommend_p,#most_like,#harem_waifu,#comments{
    text-align: justify;
    text-decoration: underline;
    font-size: 20px;
    padding:20px 20px 0px 20px;
}
.form_control,#dropdown,#most-like{
    font-family:Poppins;
    height: 3.5em;
    width: 95%;
    border-radius: 5px;
    margin-left: 2.5%;
}
.form_group{
    margin-bottom: 20px;
}
#comments_table{
    min-height: 120px;
    width: 95%;
    margin-left: 2.5%;
    resize: vertical;
    border-radius: 5px;
    font-size:20px;
}
.submit-button{
    display: block;
    width: 90%;
    margin: 5%;
    height: 4em;
    background: rgb(233, 149, 184);
    font-family: Poppins;
    font-size: 20px;
    color: white;
    font-weight: 300;
    text-shadow: 20px 20px 30px black;
    border-radius: 20px;
}